#h1{
  margin-left: 700px;
  margin-bottom: 700px;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #1e1e2f, #2e2e3e);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  
  background: #2e2e3e;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px #000;
  width: 90%;
  
  
}

input[type="number"],
input[type="text"] {
  padding: 10px;
  margin: 10px;
  width: 80%;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 15px;
  margin: 5px;
  background: #00bcd4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0097a7;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.output-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#strengthBar {
  height: 10px;
  width: 80%;
  margin: 10px auto;
  background: #555;
  border-radius: 5px;
  transition: width 0.3s ease;
}

#toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #00bcd4;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
}

